.event-body {
    padding-top: 88px;
    padding-bottom: 64px;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.banner-img {
    height: 160px;
    width: 100%;
    background-image: url('../assets/rave-noturna.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.event-title-edit {
    padding: 32px 128px 32px 128px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-position: inside;
}

.event-title {
    color: var(--cor-principal);
}

.edit-btns {
    display: flex;
    gap: 16px;
}

.edit-btns button {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    align-items: center;
    margin: 0;
    padding: 12px;
    background-color: var(--cor-principal);
    border-radius: 100px;
    box-sizing: border-box;
    height: min-content;
    cursor: pointer;
}

.edit-btns img {
    width: 32px;
    height: 32px;
}

button:focus {
    outline:invert;
}

.event-description {
    font-weight: 700;
    font-size: 18px;
    padding: 0px 128px;
    width: 100%;
}

.endereco {
    color: var(--cor-principal);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 64px 0px 32px 0px;
    font-size: 24px;
    font-weight: 700;
}

.interesse {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: var(--cor-principal) !important;
    gap: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.interesse input {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--cor-principal);
    position: relative;
    height: 24px;
    width: 24px;
}

.interesse input:checked {
    background-color: var(--cor-principal);
}

.interesse input:checked::before {
    content: "✔";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}