.event-body {
    padding-top: 88px;
    padding-bottom: 16px;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.banner-img {
    height: 160px;
    width: 100%;
    background-image: url('../assets/rave-noturna.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-img-none {
    height: 160px;
    width: 100%;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.banner-img-none img {
    width: 40px;
    height: 40px;
}

.event-title-edit {
    padding: 32px 128px 32px 128px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-position: inside;
}

.event-title {
    color: var(--cor-principal);
}

.event-title-create {
    color: var(--cor-principal);
    border: none;
    border-bottom: 4px solid var(--cor-principal);
    width: 600px;
    background-color: transparent;
    font-size: 44px;
    font-weight: 700;
    height: 52px;
}
.event-title-create::placeholder {
    color: var(--branco-opaco);
}

.event-title-create:focus {
    outline: none;
}

.edit-btns {
    display: flex;
    gap: 16px;
}

.edit-btns-x {
    display: flex;
    gap: 16px;
}

.edit-btns-x img {
    width: 16px;
    height: 16px;
}
.edit-btns-x button {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    align-items: center;
    margin: 0;
    padding: 12px;
    background-color: var(--cor-principal);
    border-radius: 100px;
    box-sizing: border-box;
    height: min-content;
    cursor: pointer;
}

.edit-btns button {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    align-items: center;
    margin: 0;
    padding: 12px;
    background-color: var(--cor-principal);
    border-radius: 100px;
    box-sizing: border-box;
    height: min-content;
    cursor: pointer;
}

.edit-btns img {
    width: 32px;
    height: 32px;
}

button:focus {
    outline:invert;
}

.event-description {
    font-weight: 700;
    font-size: 18px;
    padding: 0px 128px;
    width: 100%;
}

.event-description-txt {
    background-color: transparent;
    color: var(--branco-suave);
    outline: none;
    resize: none;
    border: 2px solid var(--cor-principal);
    margin: 0px 64px;
    box-sizing: border-box;
    width: 80%;
    min-height: 200px;
    height: auto;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    padding: 2px 4px;
}

.btn-verde {
    background-color: var(--cor-verde);
    
}

.endereco {
    color: var(--cor-principal);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 64px 0px 32px 0px;
    font-size: 24px;
    font-weight: 700;
}

.interesse {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: var(--cor-principal) !important;
    gap: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.interesse input {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--cor-principal);
    position: relative;
    height: 24px;
    width: 24px;
}

.interesse input:checked {
    background-color: var(--cor-principal);
}

.interesse input:checked::before {
    content: "✔";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.endr-section {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.endr-section h3{
    padding: 56px 0px 24px 0px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-endereco {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.input-endereco {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    font-size: 20px;
}

.input-endereco input {
    height: 36px;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--cor-principal);
    border-radius: 8px;
    color: white;
    font-size: 18px;
    padding: 0px 4px;
}

.input-endereco select {
    height: 36px;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--cor-principal);
    border-radius: 8px;
    color: white;
    font-size: 18px;
    padding: 0px 4px;
    align-items: center;
    text-align: center;
    padding: 6px;
}

option {
color: black;
}

.cep {
    width: 200px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cidade {

}

.estado {

}

.pais{

}

.bairro {

}

.rua {

}

.numero {

}

.mapa {
    width: 520px;
    height: 280px;
    background-color: aqua;
    display: flex;
    margin: 48px auto 0px auto;
}

.mapa-evento {
    margin: 0px;
}