* {
  margin: 0;
  padding: 0;
  font-family: 'Almarai';
  letter-spacing: 0.3px;
  box-sizing: border-box;
  color: var(--branco-suave);
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--cor-secundaria) inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: var(--branco-suave) !important;
}

body, html {
  overflow-x: hidden;
  background-color: var(--cor-secundaria);
}

:root {
  --cor-principal: #e713a3;
  --cor-secundaria: #350449;
  --branco-suave: #FAFAFA;
  --branco-opaco: #fafafa80;
  --texto-escuro: #333;
}

h1 {
  font-size: 64px;
}

h2 {
font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}
 h5 {
  font-size: 16px;
 }